*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
*.json
!codemeta.json
!files_signed.json
!orcid_test.json
venv
__pycache__
.vercel
*.csv
*.env*
/notebooks
.python-version
*.pem
